/*Resetear estilos*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      background-image: url('/Bootstrap/img/background.png');
      background-color: rgb(188, 149, 241);
      image-rendering:optimizeQuality;
      font-family: "Syne", sans-serif;
      /*margin 10px;*/
}
h2{
      padding: 0 0 16px 0;


}

.Mi-nombre{
      color: rgb(97, 12, 255);
}

img{
      width: 100% ;
      height: auto ;
}
.carousel{
      margin: 0 auto;
}
:root {
  --button-color: rgb(97, 12, 255);
  --padding-button: 12px 20px;
}

button{
      background :var(--button-color);
      padding: var(--padding-button);
      color: white;
      border-radius: 8px;
      border: 0
}

.button-shadow{
      box-shadow: 2px 2px 8px rgb(100, 100, 100);
}

.card{
      margin-bottom: 40px;
}
.card-shadow{
      box-shadow: 2px 2px 20px rgb(140, 140, 140);
}

/* Selecciona cualquier elemento <a> cuando está "mantenido (hovered)" */
button:hover {
  background: rgb(243, 98, 197);
}

html {
  scroll-behavior: smooth;
}

footer{
      background-color: aliceblue;
      display: flex;
      padding: 20px 40px;
      justify-content: space-between;
}

h6{
      text-align: center;
}

.social-media{
      gap: 20px;
      display: flex;
}
.social-media img{
      width: 30px;
      justify-content: right;
}